@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*------------------------------------ Fonts Link ------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.6s;
    padding: 25px 100px;
    justify-content: space-between;
    z-index: 1000;
    
}

nav img{
    width: 70px;
    border-radius: 50%;
    margin-top: -8px;
}

nav .list{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 11px;
}

nav .list .list-item{
    list-style: none;
    padding: 0 30px;
}

nav .list .list-item a{
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    color: black;
}

nav .list .list-item a::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav.sticky{
    padding: 14px 100px;
    background: #fff;
    box-shadow: 0 1px 10px 1px #ccc;
    background: #c4b451;
}

nav.sticky .list .list-item a{
    color: #fff;
}

nav .list .list-item a:hover::after{
    width: 100%;
}

/*header styling start*/

/*header styling start*/

header{
    width: 100%;
    height: 90vh;
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(50% )
}

.carousel-item .text{
    position: absolute;
    top: 38%;
    left: 40%;
    color: #ffffff;
    z-index: 11111;
   

}

.carousel-item .text1{
    left: 35%;
}

.carousel-item .in{
    position: absolute;
    top: 48%;
    left: 25%;
    color: #fff;
    z-index: 11111;
    font-size: 20px;
    text-align: center;
  

}

.carousel-item .in1{
    left: 32%;

}


/*header styling end*/

/*info styling start*/

.info{
    width: 100%;
    height: auto;
    margin-top: 90px;
    text-align: center;
    border-radius: 100px;
    padding: 60px 260px 60px 260px;
    background: #f9f9f9;
}

.info .il h1{
    font-size: 31px;
    margin-top: 30px;
    margin-bottom: 17px;


}

.info .il p{
    line-height: 34px;
    font-size: 15px;
    color: #333;
}

.info .ich,.ich1, #btn1{
    display: none;
}

.info .block{
    display: block;
}

.block h1{
    font-size: 31px;
    margin-top: 30px;
    margin-bottom: 17px;

}

.block p{
    line-height: 34px;
    font-size: 15px;
    color: #333;
}

/*block 1*/
.info .block1{
    display: block;
}

.block1 h1{
    font-size: 31px;
    margin-top: 40px;
    margin-bottom: 17px;
}

.block1 p{
    line-height: 34px;
    font-size: 15px;
    color: #333;
}

/*info styling end*/

/*footer styling start*/
.modal-btn{
    border-radius: 10px;
    margin-left: 20px;
     margin-top:500px;

}

footer{
    width: 100%;
    height: 550px;
    background-color: #C4B454;
    margin-top: 160px;
}
.foot-img{
    width: 280px;
    padding-top: 35px;
    margin: 0 auto;
}
.logo{
   
    margin-bottom: 20px;
   margin-left: 80px;

    width: 100px;
    height: 100px;
    border-radius: 50px;
   
    
}
/* .foot-img i{
    margin-right: 15px;
    width: 25px;
} */
.logo-imgs img{
  margin-right: 15px;
  border-radius: 50px;
    width: 50px;
    height: 50px;
    /* font-size: 10px; */
}
.foot-flex{
    display: flex;
    width: 84%;
  
    justify-content: space-between;
    margin: 45px auto;
}
.foot-flex h3{
    text-align: center;
    margin-bottom: 7px;
    margin-bottom: 10px;
    font-weight: 700;
}
.foot-flex div{
    width: 27%;

}
.foot-flex p{
  text-align: center;
  line-height: 24px;
}
.foot-flex img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #C4B454;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 80px;
    margin-bottom: 15px;
    width: 70%;
    margin-top: 17px;
}

.phone .span1{
    margin-left: 20px;
}

.phone .gmi{
    margin-left: 20px;
}

.foot-hr{
    width: 84%;
    height: 1px;
    margin: 15px auto;
    background-color: black;
}
.year{
    text-align: center;
    margin-top: 30px;
}

/*footer styling end*/
@media (max-width: 1300px){
    .carousel-item .text{
        position: absolute;
        top: 38%;
        left: 40%;
        font-size: 30px;
        color: #ffffff;
       
        z-index: 11111;
    
    }
    
    
    
    .carousel-item .in{
        position: absolute;
        top:50%;
        left: 25%;
        color: #fff;
        z-index: 11111;
        font-size: 18px;
        text-align: center;
        
    
    }
    
    .carousel-item .in1{
        left: 25%;
    
    }
    .modal-btn{
       margin-left: 600px;
    }
}