@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*------------------------------------ Fonts Link ------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-top: 100px;
}

#btn{
    display: none;
}

.change{
    display: block;
}

.form-control{
    font-size: 14px;
}

.a-btn{
    margin-left: 43px;
}

.label{
    margin-top: -10px;
}

body{
    background: linear-gradient(45deg, #ffbbff, #bbff);
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.group-1{
    width: 24%;
    border: 1px solid silver;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 15px 0;
    margin-left: 425px;
    margin-top: 40px;
}

.group-1 .div{
    width: 120px;
    position: relative;
    margin-left:20px;
    cursor: pointer;
}

.group-1 .div img{
    width: 70%;
}