@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #cc2b5e, #753a88);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.main{
    width: 40%;
    height: auto;
    padding: 0px 50px;
    background: white;
}

.main h4{
    text-align: center;
    margin-top: 50px;
    font-size: 19px;
}

.main h4 a{
    color: crimson;
    margin: 0 5px;
}

.main img{
    width: 200px;
    margin: 7px 200px;
}

.main .text{
    margin-top: 20px;
}

.main .text h5{
    font-size: 18px;
}

.main .text p{
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 8px;
}

.main .text p span{
    color: crimson;font-weight: bold;
}