@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*------------------------------------ Fonts Link ------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.6s;
    padding: 25px 100px;
    justify-content: space-between;
    z-index: 1000;
    
}

nav img{
    width: 70px;
    border-radius: 50%;
    margin-top: -8px;
}

nav .list{
    display: flex;
    align-items: center;
    margin-left: 320px;
    margin-top: 11px;
}

nav .list .list-item{
    list-style: none;
    padding: 0 30px;
}

nav .list .list-item a{
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    color: black;
}

nav  .bars{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

nav .list .list-item a::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav.sticky{
    padding: 14px 100px;
    background: #fff;
    box-shadow: 0 1px 10px 1px #ccc;
    background: #c4b451;
}

nav.sticky .list .list-item a{
    color: #fff;
}

nav .list .list-item a:hover::after{
    width: 100%;
}

/*header styling start*/

header{
    width: 100%;
    height: 90vh;
    /* margin-top: 124px; */
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(50% )
}

.carousel-item .text{
    position: absolute;
    top: 38%;
    left: 39%;
    color: #ffffff;
    z-index: 1111;
}

.carousel-item .text1{
    left: 35%;
    z-index:  111;
}

.carousel-item .text2{
    left: 35%;
    z-index:  111;
}

.carousel-item .in{
    position: absolute;
    top: 48%;
    left: 25%;
    color: #fff;
    z-index: 111;
    font-size: 20px;
    text-align: center;
}

.carousel-item .in1{
    left: 25%;
}



.main{
    width: 100%;
    height: auto;
    margin-top: 110px;
    display: flex;
}

.main .img-box{
    width: 45vw;
}

.main .img-box img{
    width: 550px;
    margin: 0 100px;
}

.main .info-box{
    width: 45%;
    padding: 20px 60px;
    margin-left: 5%;
}

.main .info-box h1{
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 15px;
}

.main .info-box p{
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
}

.main .info-box button{
    padding: 10px 15px;
    border: none;
    color: white;
    background: crimson;
    transition: 0.1s;
    border: 1px solid crimson;
    border-radius: 0px;
    margin-top: 5px;
}

.main .info-box button a{
    text-decoration: none;
    color: #fff;
}
.main .info-box button:hover a {
    color: #000;
}

.main .info-box button:hover{
    background: transparent;
    border: 1px solid crimson;
    color: #000;
}

/*main styling end*/

/*main1 styling start*/

.main1{
    width: 100%;
    height: auto;
    margin-top: 110px;
    display: flex;
}

.main1 .img-box1{
    width: 45vw;
}

.main1 .img-box1 img{
    width: 550px;
    margin: 0 100px 0 50px;
}

.main1 .info-box1{
    width: 50%; 
    padding: 20px 80px;
    margin-left: 15px;
}

.main1 .info-box1 h1{
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 15px;
}

.main1 .info-box1 p{
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
}

.main1 .info-box1 button{
    padding: 10px 15px;
    border: none;
    color: white;
    background: crimson;
    transition: 0.1s;
    border: 1px solid crimson;
    border-radius: 0px;
    margin-top: 5px;
}

.main1 .info-box1 button a{
    text-decoration: none;
    color: #fff;
}
.main1 .info-box1 button:hover a {
    color: #000;
}

.main1 .info-box1 button:hover{
    background: transparent;
    border: 1px solid crimson;
    color: #000;
}

img{
    object-fit: cover;
}

/*main1 styling end*/

/*footer styling start*/

footer{
    width: 100%;
    height: 550px;
    background-color: #C4B454;
    margin-top: 160px;
}
.foot-img{
    width: 280px;
    padding-top: 35px;
    margin: 0 auto;
    /* border:1px solid red; */
}
.logo{
   
    margin-bottom: 20px;
   margin-left: 80px;

    width: 100px;
    height: 100px;
    border-radius: 50px;
   
    
}
/* .foot-img i{
    margin-right: 15px;
    width: 25px;
} */
.logo-imgs img{
  margin-right: 15px;
  border-radius: 50px;
    width: 50px;
    height: 50px;
    /* font-size: 10px; */
}
.foot-flex{
    display: flex;
    /* border: 1px solid red; */
    width: 84%;
  
    justify-content: space-between;
    margin: 45px auto;
}
.foot-flex h3{
    text-align: center;
    margin-bottom: 7px;
    margin-bottom: 10px;
    font-weight: 700;
}
.foot-flex div{
    width: 27%;

}
.foot-flex p{
  text-align: center;
  line-height: 24px;
}
.foot-flex img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #C4B454;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 80px;
    margin-bottom: 15px;
    width: 70%;
    margin-top: 17px;
}

.phone .span1{
    margin-left: 20px;
}

.phone .gmi{
    margin-left: 20px;
}

.foot-hr{
    width: 84%;
    height: 1px;
    margin: 15px auto;
    background-color: black;
}
.year{
    text-align: center;
    margin-top: 30px;
}

.list.show{
    top: 20px;
}

/*footer styling end*/

@media(max-width: 599px){
    nav  .bars{
        display: block;
        color: white;
        z-index: 1111;
    }   

    nav .list{
        display: none;
    }

    body{
        overflow-x: visible;
    }

    nav  .add{
        display: block;
        position: relative !important;
        height: 500px;
        margin-top: 100vh;
        background: #ffbffb;
        padding: 100px 250px;
        text-align: center;
        margin-left: -127px;
        z-index: 12111;
    }

    nav .add .list-item{
        margin-top: 14px;
        margin-left: -100px;
        text-align: center;
    }

    nav{
        padding: 25px 50px;
        z-index: 1111;
        width: 100%;
        height: 16vh;
    }
    nav.sticky{
        padding: 25px 50px;
    }
} 
@media(max-width: 1300px){
    
    header .carousel-item .in{
       font-size: 17px;
       margin-top: 30px;
    }
    header .carousel-item .in1{
        font-size: 17px;
        margin-top: 30px;
        margin-left: 40px;
     }
   
}